@import "tailwindcss";

body {
    @apply h-screen w-screen bg-slate-950 text-white
}

.animateNav{
    transition: transform 0.9s ease-in-out, opacity 0.9s ease-in-out;
}
.imageapply{
    background-image: url(./assets/profile--black.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-blend-mode: multiply;
    background-clip: border-box;
}
.imageapply:hover{
    background-size: 110%;
}